ol, ul {
    padding-left: 0rem!important;
 }/*a {
    color: white !important;
    text-decoration: none !important;
} */
 .p-1 {
    padding: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 18rem;
}